<div class="wrapper-md col-md-6 col-xs-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="Form.Text" />
            </div>
            <div class="form-group">
                <label>Information</label>
                <textarea type="text" class="form-control" ng-model="Form.Value" rows="10"></textarea>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="Form.Active" checked>
                        <i></i>
                        Active
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary" ng-click="actionSave()" ng-disabled="processing">
                <div ng-hide="processing">
                    <span ng-hide="editmode">Submit</span>
                    <span ng-show="editmode">Save Changes</span>
                </div>
                <span ng-show="processing"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving...</span>
            </button>

        </div>

    </div>
</div>
<div class="wrapper-md col-md-6 col-xs-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">{{collectionName}} List</div>
        <table class="table table-striped m-b-none">
            <thead>
                <tr>
                    <th>{{collectionName}}</th>
                    <th>Info</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in list">
                    <td ng-bind="row.Text"></td>
                    <td ng-bind="row.Value" class="crud-tbl-col-text-wrap"></td>
                    <td ng-bind="row.Active"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>