
  <div class="col w-md lter b-r">
    <div class="vbox">
      <div class="wrapper b-b">
            <form role="form">
                <div class="form-group">
                    <label>Project</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Project">
                            <option value="1">Summit</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Module</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Module">
                            <option value="1">Incident</option>
                            <option value="2">Service Request</option>
                            <option value="3">Problem</option>
                            <option value="4">Work Order</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Page</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Page">
                            <option value="1">Incident</option>
                            <option value="2">Service Request</option>
                            <option value="3">Problem</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Parent Feature</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Parent">
                            <option value="1">Parent Feature1</option>
                            <option value="2">Parent Feature2</option>
                            <option value="3">Parent Feature3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Type">
                            <option value="1">Development</option>
                            <option value="2">Bug Fix</option>
                            <option value="3">Customization</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Status">
                            <option value="1">Planned</option>
                            <option value="2">Completed</option>
                            <option value="3">Pending</option>
                            <option value="4">In-Progress</option>
                        </select>
                    </div>
                </div>
              <div class="form-group">
                <label>Created</label>
                <div>
                  <label ng-bind="Feature.Created"></label>
                </div>
              </div>
              <div class="form-group">
                <label>Last Updated</label>
                <div>
                    <label ng-bind="Feature.Updated"></label>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>

<div class="col">
  <div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">New Feature</h1>
    </div>
    <div class="row-row">
      <div class="cell">
        <div class="cell-inner">
          <div class="wrapper-md col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="Feature.Title" />
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="10" ng-model="Feature.Description"></textarea>
                  </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <input type="email" class="form-control" ng-model="Feature.Keywords" />
                    </div>
                  <button type="submit" class="btn btn-sm btn-primary" ng-click="save(Feature)" ng-disabled="processing">
                      <div ng-hide="processing">
                          <span ng-hide="editmode">Submit</span>
                          <span ng-show="editmode">Save Changes</span>
                      </div>
                      <span ng-show="processing"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving...</span>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="wrapper-md col-md-4">

            <div class="panel-group" id="accordion">
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divfiles">
                    Files
                  </h4>
                </div>
                <div id="divfiles" class="panel-collapse collapse">
                  <div class="panel-body">
                    <crud collection-name="files" list="Feature.Files"></crud>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divtables">
                    Tables
                  </h4>
                </div>
                <div id="divtables" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="tables"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divsps">
                    Stored Procedures
                  </h4>
                </div>
                <div id="divsps" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="storedprocedures"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divfunctions">
                    Functions
                  </h4>
                </div>
                <div id="divfunctions" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="functions"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divunittest">
                    Unit Test Scenarios
                  </h4>
                </div>
                <div id="divunittest" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="unittestscenarios"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divref">
                    Reference
                  </h4>
                </div>
                <div id="divref" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="references"></crud>-->
                  </div>
                </div>
              </div>
              
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>