
  <div class="col w-md lter b-r">
    <div class="vbox">
      <div class="wrapper b-b">
            <form role="form">
                <div class="form-group">
                    <label>Project</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Project" ng-options="value.Id as value.text for value in Masters.Projects"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Module</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Module" ng-options="value.Id as value.text for value in Masters.Modules"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Page</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Page" ng-options="value.Id as value.text for value in Masters.Pages"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Parent Feature</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Parent" ng-options="value.Id as value.text for value in Masters.ParentFeatures"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Type" ng-options="value.Id as value.text for value in Masters.Types"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Status" ng-options="value.Id as value.text for value in Masters.Status"></select>
                    </div>
                </div>
              <div class="form-group" ng-show="Feature.Created">
                <label>Created</label>
                <div>
                  <label ng-bind="Feature.Created | moment:formats.datetimeformat"></label>
                </div>
              </div>
              <div class="form-group" ng-show="Feature.Updated">
                <label>Last Updated</label>
                <div>
                    <label ng-bind="Feature.Updated | moment:formats.datetimeformat"></label>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>

<div class="col">
  <div class="vbox">
      <div class="wrapper bg-light lter b-b">
          <div class="pull-right">
              <div ng-show="loading"><i class="fa fa-spinner text-danger fa-2x fa-spin"></i></div>
          </div>
          <h1 class="m-n font-thin h3" ng-bind="title"></h1>
      </div>
    
    <div class="row-row">
      <div class="cell">
        <div class="cell-inner">
          <div class="wrapper-md col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="Feature.Title" />
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="10" ng-model="Feature.Description"></textarea>
                  </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <input type="email" class="form-control" ng-model="Feature.Keywords" />
                    </div>
                  <button type="submit" class="btn btn-sm btn-primary" ng-click="save(Feature)" ng-disabled="processing">
                      <div ng-hide="processing">
                          <span ng-hide="editmode">Submit</span>
                          <span ng-show="editmode">Save Changes</span>
                      </div>
                      <span ng-show="processing"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving...</span>
                  </button>
                    <button class="pull-right btn btn-default" ng-click="cancel()">Cancel</button>
                </form>
              </div>
            </div>
          </div>

          <div class="wrapper-md col-md-4">

            <div class="panel-group" id="accordion">
              
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#divstackholder">
                            Stackholders
                        </h4>
                    </div>
                    <div id="divstackholder" class="panel-collapse">
                        <div class="panel-body">
                            <crud collection-name="stackholders" list="Feature.Stackholders"></crud>
                        </div>
                    </div>
                </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divfiles">
                    Files
                  </h4>
                </div>
                <div id="divfiles" class="panel-collapse collapse">
                  <div class="panel-body">
                    <crud collection-name="files" list="Feature.Files"></crud>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divtables">
                    Tables
                  </h4>
                </div>
                <div id="divtables" class="panel-collapse collapse">
                  <div class="panel-body">
                    <crud collection-name="tables" list="Feature.Tables"></crud>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divsps">
                    Stored Procedures
                  </h4>
                </div>
                <div id="divsps" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="storedprocedures"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divfunctions">
                    Functions
                  </h4>
                </div>
                <div id="divfunctions" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="functions"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divunittest">
                    Unit Test Scenarios
                  </h4>
                </div>
                <div id="divunittest" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="unittestscenarios"></crud>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#divref">
                    Reference
                  </h4>
                </div>
                <div id="divref" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!--<crud collection-name="references"></crud>-->
                  </div>
                </div>
              </div>
              
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>