<div id="pluswrap" ng-show="loading"><div class="plus"><h1 class="text-muted font-thin"><i class="fa fa-spinner text-primary-dker fa-spin"></i> loading...</h1></div></div>

  <div class="col w-md lter b-r">
    <div class="vbox">
      <div class="wrapper b-b">
            <form role="form">
                <div class="form-group">
                    <label>Project</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Project" ng-options="value.Id as value.text for value in Masters.Projects"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Module</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Module" ng-options="value.Id as value.text for value in Masters.Modules"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Page</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Page" ng-options="value.Id as value.text for value in Masters.Pages"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Parent Feature</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Parent" ng-options="value.Id as value.text for value in Masters.ParentFeatures"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Type" ng-options="value.Id as value.text for value in Masters.Types"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <select ui-jq="chosen" class="w" ng-model="Feature.Status" ng-options="value.Id as value.text for value in Masters.Status"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Keywords</label>
                    <input type="email" class="form-control" ng-model="Feature.Keywords" />
                </div>
              <div class="form-group" ng-show="Feature.Created">
                <label>Created</label>
                <div>
                  <label ng-bind="Feature.Created | moment:formats.datetimeformat"></label>
                </div>
              </div>
              <div class="form-group" ng-show="Feature.Updated">
                <label>Last Updated</label>
                <div>
                    <label ng-bind="Feature.Updated | moment:formats.datetimeformat"></label>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>

<div class="col">
  <div class="vbox">
      <div class="wrapper bg-light lter b-b">
          <h1 class="m-n font-thin h3" ng-bind="title"></h1>
      </div>
    
    <div class="row-row">
      <div class="cell">
        <div class="cell-inner">
          <div class="wrapper-md col-md-12">

            <div class="panel panel-default">
              <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="Feature.Title" />
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="4" ng-model="Feature.Description"></textarea>
                  </div>     
                    <div class="form-group">
                        <timeline collection-name="featurelogs" primaryid="Feature.Id" list="Feature.StoryPoints" placeholder="create story point" enable-edit="true" no-time="true" push-item="true" sort-field="Date"></timeline>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="save(Feature)" ng-disabled="processing">
                            <div ng-hide="processing">
                                <span ng-hide="editmode">Submit</span>
                                <span ng-show="editmode">Save Changes</span>
                            </div>
                            <span ng-show="processing"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving...</span>
                        </button>
                        <button class="pull-right btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
                    </div>  
                </form>
                  
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col w-xxl bg-white-only b-l bg-auto no-border-xs">
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divstackholder">
                    Stackholders
                </h4>
            </div>
            <div id="divstackholder" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="stackholders" list="Feature.Stackholders" primaryid="Feature.Id" labels="{name:'Stackholder Name',info:'Work Assigned'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divfiles">
                    Files
                </h4>
            </div>
            <div id="divfiles" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="files" list="Feature.Files" primaryid="Feature.Id" labels="{name:'File Name',info:'Info'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divtables">
                    Tables
                </h4>
            </div>
            <div id="divtables" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="tables" list="Feature.Tables" primaryid="Feature.Id" labels="{name:'Table Name',info:'Info'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divsps">
                    Stored Procedures
                </h4>
            </div>
            <div id="divsps" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="storedprocedures" list="Feature.StoredProcedures" primaryid="Feature.Id" labels="{name:'Stored Procedure Name',info:'Info'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divfunctions">
                    Functions
                </h4>
            </div>
            <div id="divfunctions" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="functions" list="Feature.Functions" primaryid="Feature.Id" labels="{name:'Function Name',info:'Info'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divunittest">
                    Unit Test Scenarios
                </h4>
            </div>
            <div id="divunittest" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="UnitTestCases" list="Feature.UnitTestCases" primaryid="Feature.Id" labels="{name:'Unit Test Case Scenario',info:'Detail'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divrepoinfo">
                    Repository Info
                </h4>
            </div>
            <div id="divrepoinfo" class="panel-collapse collapse">
                <div class="panel-body">
                    <crud collection-name="RepositoryInfo" list="Feature.RepositoyItems" primaryid="Feature.Id" labels="{name:'Changeset',info:'Branch/Version/Customer/Build#'}"></crud>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#divconcern">
                    Queries/Doubts
                </h4>
            </div>
            <div id="divconcern" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-muted">Discuss the concerned items (if any). if there is any db related queries/doubts, performance related points/issues.clarify all the issues and resolve it.</p>
                    <crud collection-name="OtherInfoItems" list="Feature.OtherInfoItems" primaryid="Feature.Id" labels="{name:'Question',info:'Detail'}"></crud>
                </div>
            </div>
        </div>


    </div>
    <div class="padder-md">
        <timeline collection-name="featurelogs" primaryid="Feature.Id" list="Feature.Logs" placeholder="what's happening" sort-field="-Date"></timeline>
    </div>
</div>
<script>
     
</script>